<p id="notice"><%= notice %></p>

<h2>Welcome, <%=  %>!</h2>
<p>Student list with links to view grades (this will be the same page that students see, but when pressing back will send the user back to this page.)</p>
<p>What would you like to do today?</p>
<ul>
  <li>Create a new teacher.</li>
  <li>Create a new student.</li>
  <li>Create a new parent.</li>
  <li>Grade an assignment.</li>
</ul>

<h2>Students</h2>
<p>List of grades</p>

<h2>Parents</h2>
<p>List of their student's grades</p>

<%= link_to 'Logout', teachers_path %>

<h1>Listing Teachers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password digest</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <td><%= teacher.email %></td>
        <td><%= teacher.password_digest %></td>
        <td><%= link_to 'Show', teacher %></td>
        <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
        <td><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Teacher', new_teacher_path %>
